header {
    background-color: yellow;
    font-style: oblique;
    font-weight: bold;
}

body {
    margin: 50px;
    font-family: sans-serif;
    cursor:default;
}

.center {
    text-align: center;
    /* margin: 50px */
}

button {
    border: none;
    background: none;
    left: 20%;
    top: 30%;
    position: fixed;
    /* color: white; */
    /* font-size: large; */
    /* padding: 10px; */
}

button:hover{
    opacity: 70%;
    cursor: pointer;
}

#audio {
    margin-bottom: 50px;
}

#lyrics {
    color: white;
    font-size: 12vh;
    line-height: 80%;
    max-width: 1100px;
    text-shadow: -1px -1px 0 slategrey, 1px -1px 0 slategrey, -1px 1px 0 slategrey, 1px 1px 0 slategrey;
}